@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}


h1 {
  font-size: 2em;
  color: #444;
}

h2, h3 {
  color: #555;
}
